<span class="trailer">
  &copy; Copyright 2001-2007 <%= link_to("NOTE", "http://note.amherst.edu/", :class => "trailer", :target => "_blank", :title => "NOTE") %><br />
  <%= link_to("The New Athenian", "http://note.amherst.edu/",        :class => "trailer", :title => "The New Athenian") %> |
  <%= link_to("Directory",        "http://directory.amherst.edu/",   :class => "trailer", :title => "Online Directory") %> |
  <%= link_to("Exchange",         "https://exchange.amherst.edu/",   :class => "trailer", :title => "Exchange") %> |
  <%= link_to("What is NOTE?",    "http://note.amherst.edu/whatis/", :class => "trailer", :title => "What is NOTE?") %> |
  <%= link_to("Contact Us",       "mailto:TODO@example.com",         :class => "trailer", :title => "Email the planworld folks!") %>
</span>
